# .gitignore


# Security
.env

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store


# MLops
/pytorch_trained_model/
/pretrained_weights/
/data/
/mlruns/



# Data API

/Data-API/data/
/Data-API/mlruns/
/Data-API/


# database
db_data/
Readme/
